<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .noto {
            font-family: "Noto Sans Thai", sans-serif;
            font-style: normal;
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center space-y-4 text-center">
        <h2 class="text-2xl md:text-3xl noto">
            ยินดีต้อนรับ
        </h2>
        <a href="/register" class="noto w-[300px] py-3 bg-blue-400 text-white text-center rounded-lg shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            สมัคร
        </a>
        <a href="/login" class="noto w-[300px] py-3 bg-white text-gray-800 text-center rounded-lg shadow-lg border hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50">
            ฉันมีบัญชีอยู่แล้ว
        </a>
    </div>
</body>
</html>
